@import "bootstrap";
$cien:100px;
$cero:0px;
$quinientos:500px;
$diez:10px;
$cincuenta:50px;
$veinte:20px;
$doscientos:200px;
$trescientos:300px;
$cientocincuenta:150px;
$treinta:30px;
$naranja:orange;
$negro:black;
$centro:center;
$blanco: white;

header .img-fluid {
width: $cien;
height: $cien;
}
footer .img-fluid {
width: $cien;
height: $cien;
}
body {
background-color: $orange;
padding: $cero;
margin: $cero;
}
div div img {
height: $quinientos;
padding-left: $diez;
padding-right: $diez;
}
.indexfooter {
padding-top: $cincuenta;
}
svg {
height: $cien;
width: $cien;
color: $negro;
}
.bg-light {
background-color: $naranja !important;
}
.alinear {
align-items: $centro;
}
.subtitulo {
color: $negro;
text-align: $centro;
text-transform: uppercase;
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
padding-top: $veinte;
padding-bottom: $veinte;
}
p {
color: $naranja;
font-family: 'Newsreader', serif;
font-weight: 300;
margin-bottom: $cero;
}
.negrita {
font-family: 'Newsreader', serif;
font-weight: 800;
}
.table {
color: $naranja;
background-color: $negro;
font-family: 'Newsreader', serif;
font-weight: 300;
}
h2 {
color: $negro;
font-style: italic;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
padding-top: $veinte;
padding-bottom: $veinte;
}
h5 {
color: $blanco;
text-align: $centro;
text-transform: uppercase;
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
padding-top: $cincuenta;
padding-bottom: $veinte;
filter: drop-shadow(1px 1px);
}
.pcarousel {
color: $blanco;
filter: drop-shadow(1px 1px);
}
h3 {
color: $naranja;
text-align: $centro;
font-family: 'Ubuntu', sans-serif;
font-weight: 300;
}
form {
color: $negro;
font-family: 'Newsreader', serif;
font-weight: 300;
}
article div img {
width: $trescientos;
height: $cientocincuenta;
}
.distancia {
margin-top: $cincuenta;
}
li{list-style-type: none;
}
.imglogo {
width: $doscientos;
height: $doscientos;
}
.boxcontacto {
margin-top: $treinta;
}
.card {
background-color: $negro;
}
.fotos {
padding: 1.25rem;
}
@media (max-width: 414px) {
div div img {
height: $doscientos;
}